<tr>
  <td><%= link_to item.id, product_path(id: item.id), class: "text-dark font-weight-bold" %></td>
  <td><%= link_to item.product_name, product_path(id: item.id), class: "text-dark font-weight-bold" %></td>
  <td><%= item.category %></td>
  <td><%= item.brand %></td>
  <td class="text-center"><%= item.total_quantity %></td>
</tr>
