<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="header__top__left">
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="header__top__right">
            <div class="header__top__links">
              <%= header_links %>
              <%= language_link %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <%= link_to root_path do %>
            <%= image_tag("logo.png") %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            <li>
              <%= link_to t("pages.home.title"), root_path %>
            </li>
            <li><%= link_to t("pages.shop.title"), shop_path %></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <div class="price">
            <span>
              <%= link_to carts_path do %>
                <i class="fa fa-shopping-cart text-dark" aria-hidden="true"></i>
              <% end %>
            </span>
            <i id="cart_product_count">
              <%= count_cart_items %>
            </i>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->
