<tr>
  <td class="product__cart__item">
    <div class="product__cart__item__pic">
      <%= image_tag item[:photo].photo_path, class: "photo_cart_min" %>
    </div>
    <div>
      <h6><%= link_to item[:product_name], product_path(item[:product_name]), class: "text-dark font-weight-bold" %></h6>
      <h6 class="font-weight-bold"><%= number_to_currency(item[:price]) %></h6>
      <i><%= t("pages.product.color") %>: <%= item[:color] %></i> |
      <i><%= t("pages.product.size") %>: <%= item[:size] %></i>
    </div>
  </td>
  <td class="quantity__item">
    <div class="quantity">
      <div class="pro-qty-2">
        <input type="text" value="<%= item[:quantity] %>" readonly>
      </div>
    </div>
  </td>
  <td class="cart__price"><%= number_to_currency(item[:total_price]) %></td>
  <% if item[:status_bill] == Settings.order.status.completed %>
    <td>
      <%= render partial: "histories/review_product", locals: { item: item } %>
    </td>
  <% end %>
</tr>
