<% provide :title, t("pages.cart.title") %>
<!-- Trang shopping cart -->
<%= render partial: "shared/breadcrumb", locals: { breadcrumb_title: t("pages.cart.shopping_cart"),
                                                   breadcrumb_links: "#{link_to(t("pages.home.title"),
                                                                                root_path)} #{link_to(t("pages.shop.title"), shop_path)}
  <span>#{t("pages.cart.shopping_cart")}</span>".html_safe
} %>
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container">
    <%= render "shared/alert_message" %>
    <div class="row">
      <div class="col-lg-8">
        <div class="shopping__cart__table">
          <table>
            <thead>
            <tr>
              <th><%= t("pages.product.title") %></th>
              <th><%= t("pages.product.quantity") %></th>
              <th><%= t("pages.cart.total") %></th>
              <th></th>
            </tr>
            </thead>
            <tbody id="data_cart">
              <%= render partial: "cart_item"%>
            </tbody>
          </table>
        </div>
        <%= render "carts/continue_shopping" %>
      </div>
      <div class="col-lg-4">
        <div class="cart__total">
          <h6><%= t("pages.cart.cart_total") %></h6>
          <ul>
            <li><%= t("pages.cart.sum_total") %> <span id="sum_total"><%= number_to_currency(@sum_total) %></span></li>
          </ul>
          <%= link_to t("pages.cart.checkout.btn_checkout"), new_bill_path, class: "primary-btn" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section End -->
