<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= render_user_role_link(user) %></td>
  <td><%= render_user_status_link(user) %></td>
  <td><%= formatted_created_at(user.created_at) %></td>
  <td><%= formatted_created_at(user.updated_at) %></td>
  <td class="cart__close">
    <%= delete_user_link user %>
  </td>
</tr>
