<div class="col-lg-3 col-md-3">
  <ul class="nav nav-tabs" role="tablist">
    <% @product.product_photos.each_with_index do |product_photo, index| %>
      <li class="nav-item">
        <a class="nav-link <%= index == 0 ? 'active' : '' %>" data-toggle="tab" href="#tabs-<%= index + 1 %>" role="tab">
          <%= image_tag(product_photo.photo_path, class: 'product__thumb__pic set-bg') %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<div class="col-lg-6 col-md-9">
  <div class="tab-content">
    <% @product.product_photos.each_with_index do |product_photo, index| %>
      <div class="tab-pane <%= index == 0 ? 'active' : '' %>" id="tabs-<%= index + 1 %>" role="tabpanel">
        <div class="product__details__pic__item">
          <%= image_tag(product_photo.photo_path, id: "product-detail-img") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
