<% col_class = (col_number == Settings.col.col_4 ? 'col-lg-4' : 'col-lg-3') %>

<div class="<%= col_class %> col-md-6 col-sm-12">
  <div class="product__item">
    <div class="product__item__pic set-bg">
      <%= image_tag(product.product_photos.first.photo_path) %>
      <ul class="product__hover">
        <li>
          <%= link_to product_path(product) do %>
            <i class="fa fa-eye text-black-50" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="product__item__text">
      <div class="d-flex justify-content-between">
        <h6><%= product.product_name %></h6>
        <p class="text-right mx-2 small"><i><%= t("pages.product.sold") %> <%= product.total_quantity%></i></p>
      </div>
      <%= link_to t("pages.product.detail"), product_path(product) %>
      <%= render_price_range(product) %>
      <%= render_color_select product %>
    </div>
  </div>
</div>
