<div class="row mb-5">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="product__details__tab">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-left" data-toggle="tab" href="#tabs-review" role="tab">
            <%= t("pages.review.title") %>(<%= @reviews.length %>)</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tabs-review" role="tabpanel">
          <div class="product__details__tab__content">
            <div class="product__details__tab__content__item">
              <% @reviews.each do | item | %>
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <p class="font-weight-bold"><%= item.account.name %></p> &emsp;
                  <p><%= render_rating item.rating %></p>
                </div>
                <p class="mx-3"><%= formatted_created_at item.created_at %></p>
              </div>
              <div class="d-flex ms-2 ml-1">
                <i class="text-secondary"><%= item.product.product_name %></i> &ensp;
              </div>
              <div class="ml-1 mt-1">
                <p><%= item.comment %></p>
                <hr>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
